---
layout: default
---

<section>

	{% assign sections = site.posts | group_by: 'section' | sort: 'name' | reverse %}
	{% for section in sections %}
		<h3 class="code">{{ section.name }}</h3>
		{% for post in section.items %}
			<ul>
				<li>
					<div class="post-date code">
						<span>{{ post.date | date: "%b %d" }}</span>
					</div>
					<div class="title">
						<a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
					</div>
				</li>
			</ul>
		{% endfor %}
	{% endfor %}

</section>
