{% if page.url == '/index.html' or page.url == '/' %}
<aside class="logo">

	<a href="/about">
		<img src="{{ site.logo_url }}" alt="" class="logo-avatar">
	</a>
	<span class="logo-prompt code">About the Author</span>

</aside>
{% else %}
<aside class="logo">
	<a href="/">
		<span class="logo-prompt code">Back to Index</span>
	</a>
</aside>
{% endif %}

{% if page.url == '/index.html' or page.url == '/' %}
<header class="site-header" style="text-align: center;">
	<h1 class="site-title">Hi, welcome to Comet Text</h1>
	<p class="site-subtitle">Saksham Sinha's little corner of game design and development.</p>
</header>
{% endif %}
